body {
    font-family: "Fira Sans","Helvetica Neue",Helvetica,Calibri,Verdana,sans-serif;
    margin: 40px auto;
    max-width: 44em;
    line-height: 1.6;
    font-size: 14pt;
    color: #444;
}

h1 { text-align: center; }

a { color: #0d98ba; }
a:hover { color: #0c7090; }

tt, pre, code, kbd { font-family: "Fira Mono", Inconsolata, monospace; }

#where li { display: inline; margin: 2em; }

#versions li { display: inline; margin: 1em; }

.outputs {
    display: flex;
    width: 100%;
    align-items: center;
    height: 20em;
}

.code {
    font-size: 12pt;
    text-shadow: none;
    color: #333;
    background: #f8f8f8;
    padding: 0;
    text-align: left;
    margin: 3em auto;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.code-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: min-content;
}

#fengari-console, #compiled-lua {
    overflow-y: scroll;
    padding: 1em 1.2em;
    display: block;
    flex-grow: 1;
}

#fengari-console pre { margin: 0; }

.fengari-input-container { display: flex; }

.fengari-input-container > * {
    outline: none;
    border: none;
    white-space: pre-wrap;
    font-family: "Fira Mono", Inconsolata, monospace;
    color: #444;
    background: #f0f0f0;
    min-height: 1em;
    padding: 1em;
    margin: 0;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #ddd;
}

#fengari-input {
    flex: 1;
    font-size: 10pt;
    padding-left: 0;
}

.button-container {
    width: 0;
    flex-grow: 0;
}

#lua-pane {
    display: none;
}

#toggle-compiled-code {
    font-size: 10pt;
    border-radius: 0 0 3px 3px;
    border: 2px solid #ddd;
}

/* code sample */
#sample { font-size: 12pt; padding: 1em 1.5em; }
#sample .builtin {/* font-lock-builtin-face */ color: #483d8b;}
#sample .keyword {/* font-lock-keyword-face */ color: #a020f0;}
#sample .string {/* font-lock-string-face */ color: #8b2252;}
#sample .type {/* font-lock-type-face */ color: #228b22;}
#sample .variable-name {/* font-lock-variable-name-face */ color: #a0522d;}
#sample .comment {/* font-lock-comment-face */ color: #b22222;}


// generated by pandoc
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
span.underline{text-decoration: underline;}
div.column{display: inline-block; vertical-align: top; width: 50%;}
a.sourceLine { display: inline-block; line-height: 1.25; }
a.sourceLine { pointer-events: none; color: inherit; text-decoration: inherit; }
a.sourceLine:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode { white-space: pre; position: relative; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
    div.sourceCode { overflow: auto; }
}
@media print {
    code.sourceCode { white-space: pre-wrap; }
    a.sourceLine { text-indent: -1em; padding-left: 1em; }
}
pre.numberSource a.sourceLine
{ position: relative; left: -4em; }
pre.numberSource a.sourceLine::before
{ content: attr(title);
  position: relative; left: -1em; text-align: right; vertical-align: baseline;
  border: none; pointer-events: all; display: inline-block;
  -webkit-touch-callout: none; -webkit-user-select: none;
  -khtml-user-select: none; -moz-user-select: none;
  -ms-user-select: none; user-select: none;
  padding: 0 4px; width: 4em;
  color: #aaaaaa;
}
pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
div.sourceCode
{  }
@media screen {
    a.sourceLine::before { text-decoration: underline; }
}
code span.al { color: #ff0000; font-weight: bold; } /* Alert */
code span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #7d9029; } /* Attribute */
code span.bn { color: #40a070; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code span.ch { color: #4070a0; } /* Char */
code span.cn { color: #880000; } /* Constant */
code span.co { color: #60a0b0; font-style: italic; } /* Comment */
code span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #ba2121; font-style: italic; } /* Documentation */
code span.dt { color: #902000; } /* DataType */
code span.dv { color: #40a070; } /* DecVal */
code span.er { color: #ff0000; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #40a070; } /* Float */
code span.fu { color: #06287e; } /* Function */
code span.im { } /* Import */
code span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #007020; font-weight: bold; } /* Keyword */
code span.op { color: #666666; } /* Operator */
code span.ot { color: #007020; } /* Other */
code span.pp { color: #bc7a00; } /* Preprocessor */
code span.sc { color: #4070a0; } /* SpecialChar */
code span.ss { color: #bb6688; } /* SpecialString */
code span.st { color: #4070a0; } /* String */
code span.va { color: #19177c; } /* Variable */
code span.vs { color: #4070a0; } /* VerbatimString */
code span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
